<div class="h-screen flex justify-center items-center w-4/5 mx-auto">
  <form #createPostForm="ngForm" (ngSubmit)="onSubmit(createPostForm)" class="w-full">
    <div class="flex flex-col items-center">
      <mat-form-field class="w-full">
        <mat-label>Title</mat-label>
        <input matInput [(ngModel)]="title" name="title" required>
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Content</mat-label>
        <textarea matInput [(ngModel)]="content" name="content" required></textarea>
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Author</mat-label>
        <input matInput [(ngModel)]="author" name="author" required>
      </mat-form-field>
      <button mat-raised-button type="submit" class="mb-3">Create Post</button>
      <button mat-raised-button (click)="savePostAsConcept()">Save Post As Concept</button>
      @if (errorMessage) {
        <p class="text-red-500 font-bold" >{{ errorMessage }}</p>
      }
    </div>
  </form>
</div>

