<nav class="bg-gray-800 p-4 flex justify-between items-center">
  <div>
    <a href="" class="text-gray-300 hover:text-white mx-2">Home</a>
    @if (authService.getRole() === 'editor') {
      <a [routerLink]="['/create-post']" class="text-gray-300 hover:text-white mx-2">Create Post</a>
      <a [routerLink]="['/concepts']" class="text-gray-300 hover:text-white mx-2">Concepts</a>
      <a [routerLink]="['/pending']" class="text-gray-300 hover:text-white mx-2">Pending</a>
      <a [routerLink]="['/posts/rejected']" class="text-gray-300 hover:text-white mx-2">Rejected Posts</a>
      <a [routerLink]="['/notifications']" class="text-gray-300 hover:text-white mx-2">Notifications</a>
    }
  </div>
  <div>
    @if (authService.getRole() === 'user') {
      <input [(ngModel)]="authService.user" (ngModelChange)="authService.setUser($event)" placeholder="Enter username" class="text-gray-300 mx-2 p-1 bg-gray-700 border border-gray-600 rounded">
    }
    <button (click)="toggleRole()" class="text-gray-300 hover:text-white mx-2">
      Toggle Role (Current: {{ authService.getRole() }})
    </button>
  </div>
</nav>
